<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>M.Sc in Information Technologies</h1>
            <span>The University of Belgrade, Facuty of Mechanical Engineering</span>
            <span>
                <address>Belgrade, Serbia</address><time>2019 to 2021</time>
            </span>
        </header>
        <p>
            <em>Thesis: TBD</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.Sc in Mechanical Engineering</h1>
            <span>The University of Belgrade, Faculty of Mechanical Engineering</span>
            <span>
                <address>Belgrade, Serbia</address><time>2016 to 2019</time>
            </span>
        </header>
        <p>
            <em>Dissertation: "Normal Forms and Normalization in contemporary databases"</em>
        </p>
    </article>
</section>