<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Intern at Laboratory for Information Technology</h1>
            <span>
                <address>Belgrade, Serbia</address><time>March 2018 to June 2018</time>
            </span>
        </header>
        <p>During my internship at the laboratory, I worked on data processing using Python.
            Here I had a chance to use various Python libraries including Numpy, Pandas,
            Matplotlib, SymPy and Seaborn.</p>
    </article>
    <article>
        <header>
            <h1>Systems Administrator at Flash Europe d.o.o</h1>
            <span>
                <address>Belgrade, Serbia</address><time>Decembre 2012 to January 2016</time>
            </span>
        </header>
        <p>During my time at the company, I was in charge of various tasks, mainly indatabase management and reporting, organisation of catalogues and inventory,production of spark plug cables. I was also directly involved in business corre-spondence between suppliers and end-users</p>
    </article>
    <!-- <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of Glasgow, Glasgow, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>-->
</section>