<section class="thirteen columns">
    <h1>Certifications</h1>
    <article>
        <header>

            <h1>Coursera</h1>
            <ul>
                <li>
                    <h5>Introduction to Data Science in Python - University of Michigan</h5>
                    <span>
                        <address><a
                                href=https://www.coursera.org/account/accomplishments/certificate/ZH2MKB4N48M2>Certificate
                                </a> </address> <time>2020</time>
                    </span>
                </li>
            </ul>
        </header>
        <header>
            <h1>Udemy teaching platform</h1>
            <ul>
                <li>
                    <h5>Complete SQL Bootcamp</h5>
                    <span>
                        <address><a href=https://www.udemy.com/certificate/UC-e36968b4-adc2-4630-aab7-08a8ddef8067/>Certificate </a> </address>
                                <time>2020</time>
                    </span>
                </li>
                <li>
                    <h5>Learn Python for Data Analysis and Visualization</h5>
                    <span>
                        <address><a href=https://www.udemy.com/certificate/UC-UKMXO5FJ/>Certificate </a> </address>
                                <time>2019</time>
                    </span>
                </li>
                <li>
                    <h5>Complete Python Bootcamp: Go from zero to hero in Python 3</h5>
                    <span>
                        <address><a href=https://www.udemy.com/certificate/UC-STLLGKKA/>Certificate </a> </address>
                                <time>2019</time>
                    </span>
                </li>
                <li>
                    <h5>Complete Database Course: 6 Courses in 1</h5>
                    <span>
                        <address><a href=https://www.udemy.com/certificate/UC-S0208RYO/>Certificate </a> </address>
                                <time>2019</time>
                    </span>
                </li>
                <li>
                    <h5>MySQL PHP Database Essentials</h5>
                    <span>
                        <address><a href=https://www.udemy.com/certificate/UC-WJ300N8D/>Certificate </a> </address>
                                <time>2019</time>
                    </span>
                </li>
            </ul>
        </header>
        <header>
            <h1>Google Academy</h1>
            <ul>
                <li>
                    <h5>Google Analytics for Beginners</h5>
                    <span>
                        <address><a
                                href=https://analytics.google.com/analytics/academy/certificate/_2DXAXjTTK-iIAjqk1zc2Q>Certificate
                                </a> </address> <time>2019</time>
                    </span>
                </li>
            </ul>
        </header>
    </article>
    <article>
        <!--<header>
            <h1>Student Volunteer</h1>
            <span><address>British RedCross, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>-->
</section>