<section class="thirteen columns">
  <h1>Programming Skills</h1>
  <article>
    <header>
      <h1>Data Engineering</h1>
    </header>
    <p><em>Python</em> &nbsp;&middot;&nbsp; <em>SQL</em> &nbsp;&middot;&nbsp; <em>dbt</em> &nbsp;&middot;&nbsp; <em>Apache Airflow</em> &nbsp;&middot;&nbsp; <em>Spark / PySpark</em> &nbsp;&middot;&nbsp; <em>Pandas</em> &nbsp;&middot;&nbsp; <em>PostgreSQL</em> &nbsp;&middot;&nbsp; <em>Amazon Redshift</em> &nbsp;&middot;&nbsp; <em>MySQL</em></p>
  </article>
  <article>
    <header>
      <h1>Cloud &amp; Infrastructure</h1>
    </header>
    <p><em>AWS</em> (Redshift, S3, EC2, Lambda) &nbsp;&middot;&nbsp; <em>Terraform</em> &nbsp;&middot;&nbsp; <em>Prometheus</em> &nbsp;&middot;&nbsp; <em>Grafana</em></p>
  </article>
  <article>
    <header>
      <h1>DevOps &amp; Tooling</h1>
    </header>
    <p><em>Git</em> &nbsp;&middot;&nbsp; <em>GitHub Actions</em> &nbsp;&middot;&nbsp; <em>Linux / Bash</em> &nbsp;&middot;&nbsp; <em>Django</em></p>
  </article>
</section>
