<section class="thirteen columns">
  <h1>Programming Skills</h1>
  <article>
    <header>
      <h1>Data Engineering &amp; Analytics</h1>
    </header>
    <p>
      <i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star"></i> &nbsp;&nbsp;<em>Python</em> &amp; <em>SQL</em>
    </p>
    <p>
      <i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star-half-o"></i> &nbsp;&nbsp;<em>dbt</em> (data build tool)
    </p>
    <p>
      <i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star-o"></i> &nbsp;&nbsp;<em>Apache Airflow</em>
    </p>
    <p>
      <i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star-o"></i> &nbsp;&nbsp;<em>Spark / PySpark</em> &amp; <em>Pandas</em>
    </p>
    <p>
      <i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i
      ><i class="fa fa-star-o"></i> &nbsp;&nbsp;<em>PostgreSQL</em>, <em>MySQL</em> &amp; <em>Amazon Redshift</em>
    </p>
  </article>
  <article>
    <header>
      <h1>Cloud &amp; Infrastructure</h1>
    </header>
    <p>
      <i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star-o"></i> &nbsp;&nbsp;<em>AWS</em> (Redshift, S3, EC2, Lambda)
    </p>
    <p>
      <i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star-o"></i> &nbsp;&nbsp;<em>Terraform</em> (IaC)
    </p>
    <p>
      <i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i
      ><i class="fa fa-star-o"></i> &nbsp;&nbsp;<em>Prometheus</em> &amp; <em>Grafana</em>
    </p>
    <p>
      <i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star"></i><i class="fa fa-star"></i
      ><i class="fa fa-star-o"></i> &nbsp;&nbsp;<em>Git</em>, <em>GitHub Actions</em> &amp; <em>Linux / Bash</em>
    </p>
  </article>
</section>
